.new-event-popover-container {
  min-height: 20em;
  min-width: 30em;
}

.new-event-popover-when {
  color: rgba(0,0,0,0.5);
}

.new-event-popover-buttons {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.new-event-popover-button {
  margin: 0 0.5em;
  width: 6em;
}

.new-event-popover-input {
  margin: 1em 0;
  width: 100%;
  height: 3em;
  padding: 0.5em;
}

.ant-popover-title {
  height: 4em !important;
  line-height: 4em !important;
}
